In [6]:
from square.client import Client
import os
from dotenv import load_dotenv
import pandas as pd
load_dotenv()

True

In [7]:
client = Client(
    access_token=os.environ['SQUARE_ACCESS_TOKEN'],
    environment='sandbox')

orders_api = client.orders

In [8]:
# Customer orders
body = {
  "limit": 100,
  "query": {
    "filter": {
    },
    "sort": {
      "field": "CREATED_AT",
      "order": "ASC"
    }
  }
}

result = client.customers.search_customers(body)

if result.is_success():
  print(result.body)
elif result.is_error():
  print(result.errors)

{'customers': [{'id': '1P0ZY96849H446231JNDH0V97R', 'created_at': '2023-09-09T02:09:15.379Z', 'updated_at': '2023-09-09T02:09:15Z', 'given_name': 'Amelia', 'family_name': 'Earhart', 'email_address': 'Amelia.Earhart@example.com', 'address': {'address_line_1': '500 Electric Ave', 'address_line_2': 'Suite 600', 'locality': 'New York', 'administrative_district_level_1': 'NY', 'postal_code': '10003', 'country': 'US'}, 'phone_number': '1-212-555-4240', 'note': 'A customer for GraphQL sample app', 'reference_id': 'GRAPHQL-SAMPLE-APP', 'company_name': 'Earhart United', 'preferences': {'email_unsubscribed': False}, 'creation_source': 'THIRD_PARTY', 'version': 0}, {'id': 'VK09BGAVBNB1T5F4530K163W5M', 'created_at': '2023-09-09T02:09:15.876Z', 'updated_at': '2023-09-09T02:09:15Z', 'given_name': 'William', 'family_name': 'Shakespeare', 'email_address': 'William.Shakespeare@example.com', 'address': {'address_line_1': '1000 Juliet Lane', 'address_line_2': 'Unit A', 'locality': 'Stratford', 'administrative_district_level_1': 'Avon', 'postal_code': '12345', 'country': 'GB'}, 'phone_number': '1-212-444-1234', 'note': 'A customer for GraphQL sample app', 'reference_id': 'GRAPHQL-SAMPLE-APP', 'company_name': "King's Men", 'preferences': {'email_unsubscribed': False}, 'creation_source': 'THIRD_PARTY', 'version': 0}, {'id': '64AS3BG573V3JW759JH9N7K2X8', 'created_at': '2023-09-09T02:09:16.261Z', 'updated_at': '2023-09-09T02:09:16Z', 'given_name': 'Charles', 'family_name': 'Darwin', 'email_address': 'Charles.Darwin@example.com', 'address': {'address_line_1': '915 Origin Street', 'locality': 'The Mount', 'administrative_district_level_1': 'Shrewsbury', 'postal_code': '10003', 'country': 'GB'}, 'phone_number': '1-806-123-4555', 'note': 'A customer for GraphQL sample app', 'reference_id': 'GRAPHQL-SAMPLE-APP', 'company_name': 'Darwin Platform', 'preferences': {'email_unsubscribed': False}, 'creation_source': 'THIRD_PARTY', 'version': 0}, {'id': 'T7EM1V4A8J23ZGYNGATK07PNKR', 'created_at': '2023-09-09T02:09:16.845Z', 'updated_at': '2023-09-09T02:09:16Z', 'given_name': 'Abraham', 'family_name': 'Lincoln', 'email_address': 'Abraham.Lincoln@example.com', 'address': {'address_line_1': '500 Electric Ave', 'address_line_2': 'Suite 600', 'locality': 'Sinking Spring Farm', 'administrative_district_level_1': 'KY', 'postal_code': '90000', 'country': 'US'}, 'phone_number': '1-111-666-4240', 'note': 'A customer for GraphQL sample app', 'reference_id': 'GRAPHQL-SAMPLE-APP', 'company_name': 'Lincoln Property', 'preferences': {'email_unsubscribed': False}, 'creation_source': 'THIRD_PARTY', 'version': 0}, {'id': 'MXSQ3Q1QE8M80HDTVHHJEZRF50', 'created_at': '2023-09-09T02:09:17.405Z', 'updated_at': '2023-09-09T02:09:17Z', 'given_name': 'Maya', 'family_name': 'Angelou', 'email_address': 'Maya.Angelou@example.com', 'address': {'address_line_1': '11 Rose Way', 'locality': 'St Louis', 'administrative_district_level_1': 'MO', 'postal_code': '12345', 'country': 'US'}, 'phone_number': '1-212-555-8888', 'note': 'A customer for GraphQL sample app', 'reference_id': 'GRAPHQL-SAMPLE-APP', 'company_name': 'Caged Bird Legacy', 'preferences': {'email_unsubscribed': False}, 'creation_source': 'THIRD_PARTY', 'version': 0}, {'id': '6WH79TC7KP6X5AYXWQWDR377TW', 'created_at': '2023-09-09T02:09:17.989Z', 'updated_at': '2023-09-09T02:09:17Z', 'given_name': 'Frida', 'family_name': 'Kahlo', 'email_address': 'Frida.Kahlo@example.com', 'address': {'address_line_1': '7253 Surrealism Ave', 'address_line_2': 'Suite 5', 'locality': 'Coyoacá', 'administrative_district_level_1': 'Mexico City', 'postal_code': '10003', 'country': 'MX'}, 'phone_number': '1-212-555-4240', 'note': 'A customer for GraphQL sample app', 'reference_id': 'GRAPHQL-SAMPLE-APP', 'company_name': 'The Two Fridas', 'preferences': {'email_unsubscribed': False}, 'creation_source': 'THIRD_PARTY', 'version': 0}]}

In [9]:
catalog_dict = result.body
customers_list = catalog_dict["customers"]

order_entries_list = customers_list

print(len(customers_list))
customer_id_list = []

for x in range(0, len(customers_list)):
    customer = customers_list[x]
    id = customer["id"]
    created_at = customer["created_at"]
    updated_at = customer["updated_at"]
    given_name = customer["given_name"]
    family_name = customer["family_name"]
    email_address = customer["email_address"]
    address_locality = customer["address"]["locality"]
    address_postal_code = customer["address"]["postal_code"]
    address_country = customer["address"]["country"]

    customer_id_list.append((id, created_at, updated_at, given_name, family_name, 
                       email_address, address_locality, address_postal_code, address_country))
    


# create DataFrame using data
customer_df = pd.DataFrame(customer_id_list, columns =['id', 'created_at', 'updated_at', 'given_name', 'family_name', 
                       'email_address', 'address_locality', 'address_postal_code', 'address_country'])

customer_df.to_csv("./graph_data/customers.csv", index=False)
customer_df

6

,id,created_at,updated_at,given_name,family_name,email_address,address_locality,address_postal_code,address_country
0,1P0ZY96849H446231JNDH0V97R,2023-09-09T02:09:15.379Z,2023-09-09T02:09:15Z,Amelia,Earhart,Amelia.Earhart@example.com,New York,10003,US
1,VK09BGAVBNB1T5F4530K163W5M,2023-09-09T02:09:15.876Z,2023-09-09T02:09:15Z,William,Shakespeare,William.Shakespeare@example.com,Stratford,12345,GB
2,64AS3BG573V3JW759JH9N7K2X8,2023-09-09T02:09:16.261Z,2023-09-09T02:09:16Z,Charles,Darwin,Charles.Darwin@example.com,The Mount,10003,GB
3,T7EM1V4A8J23ZGYNGATK07PNKR,2023-09-09T02:09:16.845Z,2023-09-09T02:09:16Z,Abraham,Lincoln,Abraham.Lincoln@example.com,Sinking Spring Farm,90000,US
4,MXSQ3Q1QE8M80HDTVHHJEZRF50,2023-09-09T02:09:17.405Z,2023-09-09T02:09:17Z,Maya,Angelou,Maya.Angelou@example.com,St Louis,12345,US
5,6WH79TC7KP6X5AYXWQWDR377TW,2023-09-09T02:09:17.989Z,2023-09-09T02:09:17Z,Frida,Kahlo,Frida.Kahlo@example.com,Coyoacá,10003,MX