In [32]:
from square.client import Client
import os
from dotenv import load_dotenv
import pandas as pd
load_dotenv()

True

In [33]:
client = Client(
    access_token=os.environ['SQUARE_ACCESS_TOKEN'],
    environment='sandbox')

### Search Subs

In [34]:
result = client.subscriptions.search_subscriptions(
  body = {
    "query": {
      "filter": {

      }
    }
  }
)

if result.is_success():
  print(result.body)
elif result.is_error():
  print(result.errors)

{'subscriptions': [{'id': '4653efbf-ef05-4339-805e-dec40a2f2e67', 'location_id': 'LV2XZS82XY1QP', 'customer_id': '1P0ZY96849H446231JNDH0V97R', 'start_date': '2023-09-11', 'charged_through_date': '2023-10-11', 'status': 'ACTIVE', 'invoice_ids': ['inv:0-ChDLBPyf57SVDJl0mzkbD8MxEIEL'], 'version': 1, 'created_at': '2023-09-11T01:33:05Z', 'timezone': 'UTC', 'source': {'name': 'Sandbox for sq0idp-wbdRN2PA9P-8vSPiGU--5w'}, 'phases': [{'uid': '46fd82b8-b275-4ea3-86c0-ca8b9364d7db', 'ordinal': 0, 'order_template_id': '35gVxVXkWdWou4DRJUXU6bffLGDZY', 'plan_phase_uid': 'XFHGBA2ORA3VUBOWKKBM2NMN'}, {'uid': 'ff3cdbab-df4f-43ca-aa9e-079a1bc7c27e', 'ordinal': 1, 'order_template_id': '35gVxVXkWdWou4DRJUXU6bffLGDZY', 'plan_phase_uid': 'CM7NR4HV63V5G2WBB33JAK2G'}], 'plan_variation_id': 'HMO53UKKKTJW52YH3ZFZXJFU'}]}

### Get Sub df

In [42]:
subscription_list = result.body["subscriptions"]

sub_details_list = []
for subscription in subscription_list:
    id = subscription["id"]
    location = subscription["location_id"]
    customer_id = subscription["customer_id"]
    start_date = subscription["start_date"]
    charged_through_date = subscription["charged_through_date"]
    status = subscription["status"]
    created_at = subscription["created_at"]
    plan_variation_id = subscription["plan_variation_id"]
    # ordinal = subscription["ordinal"]
    # order_template_id = subscription["order_template_id"]

    sub_details_list.append((id, location, customer_id, start_date, charged_through_date, status, created_at, plan_variation_id))

sub_df = pd.DataFrame(sub_details_list, columns=["id", "location", "customer_id", "start_date", "charged_through_date", "status", "created_at", "plan_variation_id"])
sub_df.head()

,id,location,customer_id,start_date,charged_through_date,status,created_at,plan_variation_id
0,4653efbf-ef05-4339-805e-dec40a2f2e67,LV2XZS82XY1QP,1P0ZY96849H446231JNDH0V97R,2023-09-11,2023-10-11,ACTIVE,2023-09-11T01:33:05Z,HMO53UKKKTJW52YH3ZFZXJFU

### Subscription x Customer relationship

In [43]:
sub_x_cust_df = sub_df[["id", "customer_id"]]
sub_x_cust_df = sub_x_cust_df.drop_duplicates()
sub_x_cust_df

                                     id                 customer_id
0  4653efbf-ef05-4339-805e-dec40a2f2e67  1P0ZY96849H446231JNDH0V97R

### Subscription x Plan Variation relationship

In [44]:
sub_x_plan_vari_df = sub_df[["id", "plan_variation_id"]]
sub_x_plan_vari_df = sub_x_plan_vari_df.drop_duplicates()
sub_x_plan_vari_df

                                     id         plan_variation_id
0  4653efbf-ef05-4339-805e-dec40a2f2e67  HMO53UKKKTJW52YH3ZFZXJFU