In [1]:
from square.client import Client
import os
from dotenv import load_dotenv
import pandas as pd
load_dotenv()

True

In [2]:
client = Client(
    access_token=os.environ['SQUARE_ACCESS_TOKEN'],
    environment='sandbox')

### Search Subs

In [3]:
result = client.subscriptions.search_subscriptions(
  body = {
    "query": {
      "filter": {

      }
    }
  }
)

if result.is_success():
  print(result.body)
elif result.is_error():
  print(result.errors)

{'subscriptions': [{'id': '4653efbf-ef05-4339-805e-dec40a2f2e67', 'location_id': 'LV2XZS82XY1QP', 'customer_id': '1P0ZY96849H446231JNDH0V97R', 'start_date': '2023-09-11', 'charged_through_date': '2023-10-11', 'status': 'ACTIVE', 'invoice_ids': ['inv:0-ChDLBPyf57SVDJl0mzkbD8MxEIEL'], 'version': 1, 'created_at': '2023-09-11T01:33:05Z', 'timezone': 'UTC', 'source': {'name': 'Sandbox for sq0idp-wbdRN2PA9P-8vSPiGU--5w'}, 'phases': [{'uid': '46fd82b8-b275-4ea3-86c0-ca8b9364d7db', 'ordinal': 0, 'order_template_id': '35gVxVXkWdWou4DRJUXU6bffLGDZY', 'plan_phase_uid': 'XFHGBA2ORA3VUBOWKKBM2NMN'}, {'uid': 'ff3cdbab-df4f-43ca-aa9e-079a1bc7c27e', 'ordinal': 1, 'order_template_id': '35gVxVXkWdWou4DRJUXU6bffLGDZY', 'plan_phase_uid': 'CM7NR4HV63V5G2WBB33JAK2G'}], 'plan_variation_id': 'HMO53UKKKTJW52YH3ZFZXJFU'}]}

### Get Sub df

In [4]:
subscription_list = result.body["subscriptions"]

sub_details_list = []
for subscription in subscription_list:
    id = subscription["id"]
    location = subscription["location_id"]
    customer_id = subscription["customer_id"]
    start_date = subscription["start_date"]
    charged_through_date = subscription["charged_through_date"]
    status = subscription["status"]
    created_at = subscription["created_at"]
    plan_variation_id = subscription["plan_variation_id"]
    # ordinal = subscription["ordinal"]
    # order_template_id = subscription["order_template_id"]

    sub_details_list.append((id, location, customer_id, start_date, charged_through_date, status, created_at, plan_variation_id))

sub_df = pd.DataFrame(sub_details_list, columns=["id", "location", "customer_id", "start_date", "charged_through_date", "status", "created_at", "plan_variation_id"])

sub_df.to_csv("./graph_data/sub_df.csv", index=False)
sub_df.head()

,id,location,customer_id,start_date,charged_through_date,status,created_at,plan_variation_id
0,4653efbf-ef05-4339-805e-dec40a2f2e67,LV2XZS82XY1QP,1P0ZY96849H446231JNDH0V97R,2023-09-11,2023-10-11,ACTIVE,2023-09-11T01:33:05Z,HMO53UKKKTJW52YH3ZFZXJFU

### Subscription x Customer relationship

In [5]:
sub_x_cust_df = sub_df[["id", "customer_id"]]
sub_x_cust_df = sub_x_cust_df.drop_duplicates()

sub_x_cust_df.to_csv("./graph_data/sub_x_cust.csv", index=False)
sub_x_cust_df

                                     id                 customer_id
0  4653efbf-ef05-4339-805e-dec40a2f2e67  1P0ZY96849H446231JNDH0V97R

### Subscription x Plan Variation relationship

In [44]:
sub_x_plan_vari_df = sub_df[["id", "plan_variation_id"]]
sub_x_plan_vari_df = sub_x_plan_vari_df.drop_duplicates()

sub_x_plan_vari_df.to_csv("./graph_data/sub_x_plan_vari.csv", index=False)
sub_x_plan_vari_df

                                     id         plan_variation_id
0  4653efbf-ef05-4339-805e-dec40a2f2e67  HMO53UKKKTJW52YH3ZFZXJFU

In [4]:
result = client.invoices.search_invoices(
  body = {
    "query": {
      "filter": {
        "location_ids": [
          "LV2XZS82XY1QP"
        ]
      },
      "sort": {
        "field": "INVOICE_SORT_DATE",
        "order": "DESC"
      }
    }
  }
)

if result.is_success():
  print(result.body)
elif result.is_error():
  print(result.errors)

{'invoices': [{'id': 'inv:0-ChDLBPyf57SVDJl0mzkbD8MxEIEL', 'version': 1, 'location_id': 'LV2XZS82XY1QP', 'order_id': '5svy0EhkF9zMrNOu65PHysIT1CgZY', 'payment_requests': [{'uid': '86e3d2fc-0bd1-455d-a768-9fdcbaa671d2', 'request_type': 'BALANCE', 'due_date': '2023-09-11', 'tipping_enabled': False, 'computed_amount_money': {'amount': 375, 'currency': 'USD'}, 'total_completed_amount_money': {'amount': 0, 'currency': 'USD'}, 'automatic_payment_source': 'NONE'}], 'primary_recipient': {'customer_id': '1P0ZY96849H446231JNDH0V97R', 'given_name': 'Amelia', 'family_name': 'Earhart', 'email_address': 'Amelia.Earhart@example.com', 'phone_number': '1-212-555-4240', 'company_name': 'Earhart United', 'address': {'address_line_1': '500 Electric Ave', 'address_line_2': 'Suite 600', 'locality': 'New York', 'administrative_district_level_1': 'NY', 'postal_code': '10003', 'country': 'US'}}, 'invoice_number': '000001', 'title': 'Daily subscription', 'public_url': 'https://squareupsandbox.com/pay-invoice/inv:0-ChDLBPyf57SVDJl0mzkbD8MxEIEL', 'next_payment_amount_money': {'amount': 375, 'currency': 'USD'}, 'status': 'UNPAID', 'timezone': 'UTC', 'created_at': '2023-09-11T01:33:07Z', 'updated_at': '2023-09-11T01:33:10Z', 'accepted_payment_methods': {'card': True, 'square_gift_card': False, 'bank_account': False, 'buy_now_pay_later': False, 'cash_app_pay': True}, 'delivery_method': 'EMAIL', 'subscription_id': '4653efbf-ef05-4339-805e-dec40a2f2e67', 'store_payment_method_enabled': True}]}

In [11]:
invoice_list = result.body["invoices"]

inv_details_list = []
for invoice in invoice_list:
    id = invoice["id"]
    location = invoice["location_id"]
    order_id = invoice["order_id"]
    customer_id = invoice["primary_recipient"]["customer_id"]
    invoice_number = invoice["invoice_number"]
    title = invoice["title"]
    status = invoice["status"]
    subscription_id = invoice["subscription_id"]
    created_at = invoice["created_at"]
    updated_at = invoice["updated_at"]
    # ordinal = invoice["ordinal"]
    # order_template_id = invoice["order_template_id"]

    
    inv_details_list.append((id, location, order_id, customer_id, invoice_number, title, status, subscription_id, created_at, updated_at))

inv_df = pd.DataFrame(inv_details_list, columns=["id", "location", "order_id", "customer_id", "invoice_number", "title", "status", "subscription_id", "created_at", "updated_at"])

inv_df.to_csv("./graph_data/invoice.csv", index=False)
inv_df.head()

,id,location,order_id,customer_id,invoice_number,title,status,subscription_id,created_at,updated_at
0,inv:0-ChDLBPyf57SVDJl0mzkbD8MxEIEL,LV2XZS82XY1QP,5svy0EhkF9zMrNOu65PHysIT1CgZY,1P0ZY96849H446231JNDH0V97R,000001,Daily subscription,UNPAID,4653efbf-ef05-4339-805e-dec40a2f2e67,2023-09-11T01:33:07Z,2023-09-11T01:33:10Z

### Invoice x Customer relationship

In [12]:
inv_x_cust_df = inv_df[["id", "customer_id"]]
inv_x_cust_df = inv_x_cust_df.drop_duplicates()

inv_x_cust_df.to_csv("./graph_data/inv_x_cust.csv", index=False)
inv_x_cust_df

                                   id                 customer_id
0  inv:0-ChDLBPyf57SVDJl0mzkbD8MxEIEL  1P0ZY96849H446231JNDH0V97R

### Invoice x Order relationship

In [16]:
inv_x_order_df = inv_df[["id", "order_id"]]
inv_x_order_df = inv_x_order_df.drop_duplicates()

inv_x_order_df.to_csv("./graph_data/inv_x_order.csv", index=False)
inv_x_order_df

                                   id                       order_id
0  inv:0-ChDLBPyf57SVDJl0mzkbD8MxEIEL  5svy0EhkF9zMrNOu65PHysIT1CgZY

### Invoice x Sub relationship

In [15]:
inv_x_sub_df = inv_df[["id", "subscription_id"]]
inv_x_sub_df = inv_x_sub_df.drop_duplicates()

inv_x_sub_df.to_csv("./graph_data/inv_x_sub.csv", index=False)
inv_x_sub_df

                                   id                       subscription_id
0  inv:0-ChDLBPyf57SVDJl0mzkbD8MxEIEL  4653efbf-ef05-4339-805e-dec40a2f2e67